<div class="logo"></div>
<div class="container">
  <% @cocktails.each do |c|  %>
  <p><%= link_to c.name.capitalize, cocktail_path(c)%></p>
  <% end  %>
  <h4><%= link_to "✚",  new_cocktail_path %></h4>
</div>
