



<h1 id="pulsate">LocoCocktail</h1>

<div id="cocktail-li"><%= link_to 'Add Cocktail', new_cocktail_path, class: 'add-cocktail' %></div>


  <div class="container flex">
    <% @cocktails.each do |c|  %>
    <div class="cocktail-card">
    <h4><b><%= c.name.capitalize %></b></h4>
    <p><%= link_to "ðŸ§", cocktail_path(c)%></p>
    </div>
    <% end  %>
  </div>

