// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

//body
body {
  // background-image: url('https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7a719053d1686cebff01878c0b75e087&auto=format&fit=crop&w=1652&q=80');
  background-image: url('https://images.unsplash.com/photo-1530482817083-29ae4b92ff15?ixlib=rb-0.3.5&s=ee074c2541defcca24f770ef1600bcd4&auto=format&fit=crop&w=1651&q=80');
background-attachment: fixed;
background-size: cover !important;
font-weight: bolder;
color: white;

}
h1#pulsate {
  text-align: center;
  font-size: 90px;
  font-family: 'Futura';
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  text-align: center;
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite;

}

@-webkit-keyframes #pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.5;
    }

}
div#cocktail-link{
  a.add-cocktail {
  text-align: center;
  font-family: 'Futura';
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;

}

}

ul.block {
  display: block

}
h3 {
      text-align: center;
    margin-top: 200px;

}
a {
  color: black;
}
div.cocktail-card {
  width: 30%;
    height: 200px;
    background-image: url("https://images.unsplash.com/photo-1537185526994-a8714f82d3ac?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=73928068befceff38e0c0d74beca79ce&auto=format&fit=crop&w=668&q=80");
background-size: cover;
    padding: 20px;
    margin: 20px;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.cocktail-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.jumbo {
  margin-top: 200px;
    padding: 50px;
    border: 1px solid;
    /* border-color: pink; */
    background-color: rgba(215,231,235, 0.9);
    color: black;
}


.container.flex {
  display: flex;
    margin-top: 400px;
}
.btn-medium {
  color: white;
  border: 1px solid white;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: pink;
  border: 2px solid pink;
}
.btn-medium-contrast {
      color: #333333;
    border: 1px solid #333333;
    padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
}
.btn-medium-contrast:hover {
  opacity: 1;
  text-decoration: none;
  color: black;
  border: 2px solid pink;
}
.jumbo h2 {
  margin-bottom: 40px;
}

